# Ignore everything
*

# But not these files...
!.gitignore
!README.md

# if the files to be tracked are in subdirectories
!*/Cinema/Cinema.sln
!*/Cinema/Cinema/Cinema.csproj
!*/Cinema/Cinema/*.cs
!*/Cinema/Cinema/movies/*
!*/Cinema/Cinema/bin/Debug/netcoreapp3.1/rooms/*
!*/Cinema/Cinema/bin/Debug/netcoreapp3.1/movies/*
